@import "~@/mixin.less";

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
  flex-direction: column;
  .logo {
    width: 220px;
  }

  .loginForm {
    width: 250px;

    .forgot {
      float: right;
    }

    .submit {
      width: 100%;
    }
  }
}
