html, body, #root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  transition: all .2s;
}

/**
 * 修复因为动画导致悬浮框偏倚问题
 */
.ant-tooltip,
.ant-table-expanded-row-fixed,
.ant-popover, .ant-tooltip * {
  transition: none;
}

