@import "~@/mixin.less";

.page {
  display: flex;
  flex-direction: row;
  //height: 100%;
  background-color: #fff;
  margin: 12px 24px 16px;
}

.tabsBody {
  width: 100%;
}

.notifyContainer {

  .avatar {
    background: #fff;
    margin-top: 4px;
  }
}
